<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

    <sitecore>
        <!--
    *************************
      Register Glass Services in Sitecore IoC container for Constructor Injection
    *************************
    -->
        <services>
            <register
                serviceType="Glass.Mapper.Sc.ISitecoreContext, Glass.Mapper.Sc"
                implementationType="Glass.Mapper.Sc.SitecoreContext, Glass.Mapper.Sc"
                lifetime="Transient" />
            <register
                serviceType="Glass.Mapper.Sc.IGlassHtml, Glass.Mapper.Sc"
                implementationType="Glass.Mapper.Sc.GlassHtml, Glass.Mapper.Sc"
                lifetime="Transient" />
            <!--<register
          serviceType="Glass.Mapper.Sc.ISitecoreService, Glass.Mapper.Sc"
          implementationType="Glass.Mapper.Sc.SitecoreService, Glass.Mapper.Sc"
          lifetime="Transient" />-->
        </services>

        <foundation>
            <glass>
                <map hint="Common.Foundation.Glass" dll="Common.Foundation.Glass" />
            </glass>
        </foundation>
    </sitecore>

</configuration>